/* Basic CSS resets -- levelling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}



body {
	background:rgb(150,150,150);
	/* You can unhide the lines of code below, and replace xxx.jpg to an actual downloaded filename. */
	/*
	background:url(xxx.jpg) fixed no-repeat;
	background-size:cover;
	*/
	color:white;
	margin:50px;
	font-family: 'Franklin Gothic Book', Helvetica, Arial, sans-serif;
}


#container {
	width:900px;
	background:rgb(75,75,75);
	color:white;
	margin:auto;
}

nav, footer {
	padding:25px;
}

nav {
	height:400px;
	position:relative;
}

ul {
	padding-left:0px;
	list-style:none;
}

nav>ul {
	width:250px;
}

ul ul {
	position:absolute;
	left:350px;
	top:60px;
}

ul ul ul {
	position:absolute;
	left:280px;
}

nav>ul>li {
	cursor:pointer;
}


nav>ul>li:hover {
	background:
}

li {
	display:block;
	background:orange;
	padding:5px 10px;
	text-align:center;
	margin-bottom:3px;
}

li.child-sub {
	background:rgb(175, 124, 35);
}

li.child-sub li {
		width:180px;
		background:rgb(112, 81, 29);
	}

h1, h2 {
	margin:20px;
}

h1 {
	padding-top:35px;
	padding-bottom:0px;
}

h2 {
	color:rgb(180,180,180);
}

a {
	color:orange;
}

footer {
	background:black;
}

.blue {
	background:rgb(0,207,230);
}





