.none{
    text-decoration: none;
}

.dropbtn {
    background-color: white;
    color:black;
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: left;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


.link{
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
    color: royalblue;
    overflow: hidden;
}

.link{
    background: linear-gradient(to right, midnightblue 50%, royalblue 50%);
}

.link{
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
}

a{
    transition: background-position 275ms ease;
}

a:hover{
    background-position: 0 100%;
}

h1{
    font-size: 2em;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    justify-content: center;
}

head{
    font-family: 'Source Sans Pro', sans-serif;
}

.box{
   padding: 1rem;
   background-color: none;
   padding: 1rem;
   height: 4rem;
}

/*NAV*/
/*.navigation-clean.navbar-light .navbar-nav .nav-link{
  padding-left: 0px;
}
.navbar navbar-light navbar-expand-md navigation-clean p {
margin-top: 18px;
}
.navbar navbar-light navbar-expand-md navigation-clean{
  padding-top: 18px;
 
}*/
.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
  background: pink;
}

.nav-title{margin: 0px 30px;}

.nav-item{display: inline block;
margin: 0px 30px;}

/*projects*/
img {
    width: 100%;
    height: auto;
  }

.box {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 3rem;
  }

  .container{
    height: 70vh; 
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
}

.column {
  background: white;
  padding: 1em;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box, .textbox{
  width: 50vmin;
  height: 50vmin;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: .5em;
  margin: .5em;
  text-align: center;
}

.box1 { background-image: url(gifs/gamescreen.gif); }

.box2{
    background-image: url(images/bb.png);
}

.box3{

    background-image: url(images/safetypin.PNG);
}


/*project description*/
.wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.description {
  justify-content: left;
  object-position: left;
  margin-top: auto;
}
p.description {
  font-family: 'Noto Sans',  sans-serif; 
  text-align: left;
  font-size: 16px;
  color: black;
}
.projects-clean .item .description  {
  margin-top: 4px;
 
}
.projects-clean .item .description {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 0
}
.projects-horizontal .item .description {
  font-size: 15px;
  margin-bottom: 0
}

p.date  {
  font-family: 'Noto Sans',  sans-serif; 
  font-size: 12px;
  color: black;
}

.date {
  text-align: left;
  justify-content: left;
  object-position: left;
  margin-bottom: 4px;
  margin-top: auto;
  padding: 0px;
}

.textbox{
  color: black;
   margin-left: 10px;
   margin-right: 10px;
   text-align: center;
}

/*.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto
}*/