h1{
    color: red;
}

.regular-text{
    font-size: 30px;
}

.cool-text{
    color: magenta;
    font-family: cursive;
}

.top-section{
    text-decoration: underline;
}

#page-subtitle{
   color: brown; 
}