* {margin: 0; padding: 0; box-sizing: border-box;}
body { background-color: salmon; font-family: Androgyne;}
#bg-dance{
    background-image: url(../images/frisk.png),url(../images/papryus.png), url(../images/sans.png);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;    
    animation: snow 30s linear infinite;
    transform: translate3d(0,0,0);
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 200vw 200vh, 100vw 250vh, -200vw 200vh;}          
}

.topnav {
    background-color:black;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    font-size: clamp(12px, 4vmin, 20px);
    width: 100%;
    display: flex;
}

.topnav a {
    color: #f2f2f2;
    padding: .8em 1em;
    text-decoration: none;
    margin: 0 3vmin;
  }

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.striped {
  background-size: 16px;
  -webkit-background-clip: text;
  color: transparent;
  background-color: #AC0;
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .3) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .3) 50%, rgba(0, 0, 0, .3) 75%, transparent 75%, transparent);
}

.container{
  margin-top: 4em;
  /* display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; */
}

.page-title {
  font-size: 20vmin;
  border: 4px solid violet;
  text-align: center;
}

.gallery {
  margin: 1rem auto;
  width: 80vw;
  max-width: 1000px;
  display: flex;
  background: yellow;
  justify-content: center;

  flex-wrap: wrap;
}


.box {
  width: 25vmin;
  height: 25vmin;
  background-size: cover;
  padding: 1em;
  margin: 1em;
}

.box1 { background-image: url(../images/1.jpg); }

.box2 { background-image: url(../images/2.jpg); }

.box3 { background-image: url(../images/3.jpg); }

.box4 { background-image: url(../images/4.jpg); }

.box5 { background-image: url(../images/5.jpg); }

.box6 { background-image: url(../images/6.jpg); }

.box7 { background-image: url(../images/7.jpg); }

.box8 { background-image: url(../images/8.jpg); }

.box9 { background-image: url(../images/9.jpg); }

